* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.layout-base {
  background-color: #f2f2f2;
}

.layout-header {
  color: white;
  padding: 20px 12px;
  display: flex;
  gap: 15px;
  background-color: rgb(75, 75, 235);
  display: flex;
  height: 30px;
}

.header-title {
  font-size: 15px;
  width: 30%;
}

.header-nav {
  font-size: 20px;
  align-self: center;
  gap: 10px;
  display: flex;
  justify-content: center;
  width: 40%;
  height: auto;
}

.header-nav a {
  transition: 0.4s;
  padding: 10px;
}

.header-nav a:hover {
  border-color: white;
  background-color: white;
  border-radius: 20px;
  color: rgb(75, 75, 235);
  cursor: pointer;
}
